
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="body-error">

    <main>
        <div class="error-page">
            <h1>Error</h1>
            
            <% if (locals.escapeHtml === false) { %>
                <%- message %>
            <% } else { %>
                <p><%= message %></p>
            <% } %>
            <br>
            <br>

            <a href="/dashboard" class="btn">Volver al inicio</a>
        </div>
    </main>

</body>

</html>