
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <h1>AlkHost -dev</h1>
        <p>Entorno de desarrollo web local -Servidor web- de aplicaciones estaticas</p>
    </header>

    <main>
        <div class="error-page">
            <h1>Error</h1>
            
            <p>
                <%= message %>
            </p>

            <a href="/dashboard" class="btn">Volver al inicio</a>
        </div>
    </main>

    <footer>
        <p>By Alonso</p>
    </footer>
</body>

</html>